Q1. List any five functions of the pandas library with execution.

1. read_csv()
- Purpose: Reads data from a CSV file into a DataFrame, enabling structured data manipulation.
- 	Why We Use: To import datasets stored in CSV format, which is a common format for data storage and sharing
- Syntax: df=pd.read_csv('path/to/file.csv')
- Exampleple:

In [6]:
import pandas as pd
df = pd.read_csv('C:/Users/ac240/BA 2 2025/Dataset/sample_data.csv')
print(df)

    A  B   C                 Text                  Email  Values        Date  \
0  10  5   7          Hello World   john.doe@example.com     100  2023-01-01
1   2  9   4    Pandas is amazing    jane.smith@test.com     200  2023-01-02
2  15  3  10  Python is versatile  alex.johnson@mail.com     300  2023-01-10
3   8  6  12   Data Science rocks   emily.brown@data.org     400  2023-01-15
4   7  1   8      Learning Pandas      mark.taylor@ml.ai     500  2023-01-20

   Sales
0    100
1    150
2    200
3    250
4    300

- •	Explanation:- 
o	CSV files are lightweight and easy to work with in Python
- 
o	Using read_csv, you can load large datasets efficiently into Pandas.

2. head()
-•	Purpose: Displays the first n rows of a DataFrame for previewing the data.(default: 5 rows)-
•	Why We Use: To get a quick overview of the structure and content of the dataset.-
•	Syntit
df.d()hle:

Example:

In [2]:
print(df.head(3))

    A  B   C                 Text                  Email  Values        Date  \
0  10  5   7          Hello World   john.doe@example.com     100  2023-01-01
1   2  9   4    Pandas is amazing    jane.smith@test.com     200  2023-01-02
2  15  3  10  Python is versatile  alex.johnson@mail.com     300  2023-01-10

   Sales
0    100
1    150
2    200

- •	Explanation:- 
o	Useful during the data exploration phase.- 
o	Helps identify if the dataset is loaded correctly.

3. describe()
- •	Purpose: Generates a statistical summary of numerical columns.
- - 
•	Why We Use: To understand the distribution of data, including mean, standard deviation, min, and max values
  - Syntax:df.describe()
)

Example:

In [3]:
print(df.describe())

               A        B         C      Values       Sales
count   5.000000  5.00000   5.00000    5.000000    5.000000
mean    8.400000  4.80000   8.20000  300.000000  200.000000
std     4.722288  3.03315   3.03315  158.113883   79.056942
min     2.000000  1.00000   4.00000  100.000000  100.000000
25%     7.000000  3.00000   7.00000  200.000000  150.000000
50%     8.000000  5.00000   8.00000  300.000000  200.000000
75%    10.000000  6.00000  10.00000  400.000000  250.000000
max    15.000000  9.00000  12.00000  500.000000  300.000000

- •	Explanation:- 
o	Provides insights into data variability and central tendencies.- 
o	Particularly useful for initial data analysis.

4. merge()
-•	Purpose: Merges two DataFrames based on a common key.-
•	Why We Use: To combine datasets with related information.-
•	Syntit
pd.merge(df1, df2, oney')le:

Example:

In [4]:
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [1, 2], 'Score': [90, 80]})
result = pd.merge(df1, df2, on='ID')
print(result)

   ID   Name  Score
0   1  Alice     90
1   2    Bob     80

•	Explanation:-
o	Combines datasets for integrated analysis.-
o	Ensures you can use related data together.

5. pivot_table()
-•	Purpose: Summarizes data by grouping and aggregating values.Summarizes data using an aggregation function.-
•	Why We Use: To analyze data trends across categories.-
•	Syntit
df.pivot_table(index='column1', values='column2', aggfunc='mean')

Example:

In [5]:
pivot = df.pivot_table(index='A', values='Sales', aggfunc='sum')
print(pivot)

    Sales
A
2     150
7     300
8     250
10    100
15    200

•	Explanation:- 
o	Simplifies data analysis by focusing on summaries.

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
def reindex_dataframe(df):
    df.index = range(1, 2 * len(df) + 1, 2)
    return df

data = {'A': [10, 20], 'B': [30, 40]}
df = pd.DataFrame(data)
print(reindex_dataframe(df))

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that 
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. Th 
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function sho ld
calculate and print the sum of the first three values, which is 60.

In [7]:
def sum_first_three(df):
    result = df['Values'][:3].sum()
    print(f"Sum of the first three values: {result}")

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

df = pd.DataFrame({'Text': ['Hello world', 'Pandas is great', 'Python programming']})
print(add_word_count(df))

                 Text  Word_Count
0         Hello world           2
1     Pandas is great           3
2  Python programming           2

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [9]:
print(f"Size: {df.size}, Shape: {df.shape}")

Size: 6, Shape: (3, 2)

Q6. Which function of pandas do we use to read an excel file?

In [10]:
df = pd.read_excel('C:/Users/ac240/BA 2 2025/Dataset/sample_data.xlsx')
print(df.head())

    A  B   C                 Text                  Email  Values       Date  \
0  10  5   7          Hello World   john.doe@example.com     100 2023-01-01
1   2  9   4    Pandas is amazing    jane.smith@test.com     200 2023-01-02
2  15  3  10  Python is versatile  alex.johnson@mail.com     300 2023-01-10
3   8  6  12   Data Science rocks   emily.brown@data.org     400 2023-01-15
4   7  1   8      Learning Pandas      mark.taylor@ml.ai     500 2023-01-20

   Sales
0    100
1    150
2    200
3    250
4    300

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email 
addresses in the format 'username@domain.com'. Write a Python function that creates a new colum 
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if  he
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'.  our
function should extract the username from each email address and store it in the new 'User ame'
column.

In [11]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@test.com']})
print(extract_username(df))

                  Email    Username
0  john.doe@example.com    john.doe
1   jane.smith@test.com  jane.smith

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects 
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2 Your function should select the followi
ng rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [12]:
def filter_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)
print(filter_rows(df))

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
median, and standard deviation of the values in the 'Values' column.

In [13]:
def calculate_statistics(df):
    return {
        'mean': df['Values'].mean(),
        'median': df['Values'].median(),
        'std': df['Values'].std()
    }

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print(calculate_statistics(df))

{'mean': 30.0, 'median': 30.0, 'std': 15.811388300841896}

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to 
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 day 
for each row in the DataFrame. The moving average should be calculated using a window of size 7 a d
should include the current day.

In [14]:
def add_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()
    return df

df = pd.DataFrame({'Sales': [100, 200, 300, 400, 500, 600, 700]})
print(add_moving_average(df))

   Sales  MovingAverage
0    100            NaN
1    200            NaN
2    300            NaN
3    400            NaN
4    500            NaN
5    600            NaN
6    700          400.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g 
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [15]:
def add_weekday(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03']})
print(add_weekday(df))

         Date  Weekday
0  2023-01-01   Sunday
1  2023-01-02   Monday
2  2023-01-03  Tuesday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [16]:
def filter_by_date(df):
    return df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-02-01']})
df['Date'] = pd.to_datetime(df['Date'])
print(filter_by_date(df))

        Date
0 2023-01-01
1 2023-01-15

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to 
be imported?

Library: import pandas as pd
Explanation: Pandas is essential for data manipulation and analysis in Python.