Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
# Code
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame({'course_name': course_name, 'duration': duration})

# Print the second row (index 1)
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Explanation: The iloc method is used for index-based row access. Index 1 corresponds to the second row.

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc: Accesses rows and columns by labels

In [2]:
df.loc[1]  # Access row with label 1

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

iloc: Accesses rows and columns by integer position.

In [3]:
df.iloc[1]  # Access the second row (position 1)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
then find the output for both new_df.loc[2] and new_df.iloc[2]
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices).

In [4]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [5]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Outputs
print(new_df.loc[2])    # Row with label 2
print(new_df.iloc[2])   # Third row in the reindexed DataFrame

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Explanation: loc fetches rows by label, while iloc fetches rows by position. After reindexing, their outputs may differ.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [6]:
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Mean of each column
print(df1.mean())

# (ii) Standard deviation of 'column_2'
print(df1['column_2'].std())

column_1    0.501050
column_2    0.566718
column_3    0.642628
column_4    0.421202
column_5    0.474602
column_6    0.410366
dtype: float64
0.419073838525131

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [7]:
# Replacing second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string'

# Calculating mean
print(df1['column_2'].mean())

C:\Users\ac240\AppData\Local\Temp\ipykernel_20736\2314206311.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'string' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = 'string'

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Explanation: This will throw an error because mean calculations require numeric data, and replacing a value with a string makes the column non-numeric.

In [8]:
import pandas as pd
import numpy as np

# Creating a DataFrame
columns = ['column_1', 'column_2', 'column_3']
indices = [1, 2, 3]
df1 = pd.DataFrame(np.random.rand(3, 3), columns=columns, index=indices)

# Display the original DataFrame
print("Original DataFrame:")
print(df1)

# Replacing the second row of column_2 with a string
df1.loc[2, 'column_2'] = "string"

# Display the modified DataFrame
print("\nModified DataFrame:")
print(df1)

# Trying to calculate the mean of column_2
try:
    mean_value = df1['column_2'].mean()
    print(f"\nMean of column_2: {mean_value}")
except Exception as e:
    print(f"\nError: {e}")

Original DataFrame:
   column_1  column_2  column_3
1  0.050985  0.171806  0.153154
2  0.255742  0.748776  0.437853
3  0.147117  0.653463  0.274096

Modified DataFrame:
   column_1  column_2  column_3
1  0.050985  0.171806  0.153154
2  0.255742    string  0.437853
3  0.147117  0.653463  0.274096

Error: unsupported operand type(s) for +: 'float' and 'str'

C:\Users\ac240\AppData\Local\Temp\ipykernel_20736\2656663936.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'string' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = "string"

Reason for Error
The error occurs because the column column_2 contains mixed data types:

Initially, column_2 was numeric, but replacing a value with a string makes the entire column's data type object (mixed).
The .mean() method requires all values in the column to be numeric. When a string is present, Pandas cannot calculate the mean.

Solution to Avoid Error
If you want to calculate the mean of numeric values only, you can convert the column back to numeric using pd.to_numeric() and handle errors:

In [9]:
# Convert column_2 to numeric, forcing errors to NaN
df1['column_2'] = pd.to_numeric(df1['column_2'], errors='coerce')

# Calculate the mean, ignoring NaN
mean_value = df1['column_2'].mean()
print(f"\nMean of column_2 after handling errors: {mean_value}")

Mean of column_2 after handling errors: 0.41263415188624547

Key Takeaways
Replacing numeric data with a string in a column changes the column's data type to object.
The .mean() method cannot handle non-numeric values.
Use pd.to_numeric(errors='coerce') to convert invalid entries to NaN, enabling calculations while ignoring non-numeric values.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Definition: A window function performs calculations across a specified range of rows.
Types:
Rolling: Applies calculations over a rolling window.
Expanding: Applies calculations over all preceding rows.
EWM (Exponentially Weighted Mean): Applies exponentially weighted calculations.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [ ]:
import pandas as pd

# Current month and year
current_date = pd.Timestamp.now()
print(f"Month: {current_date.month}, Year: {current_date.year}")

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
import pandas as pd

# Input two dates
date1 = pd.Timestamp(input("Enter the first date (YYYY-MM-DD): "))
date2 = pd.Timestamp(input("Enter the second date (YYYY-MM-DD): "))

# Calculate differences
delta = date2 - date1
print(f"Days: {delta.days}, Hours: {delta.total_seconds() // 3600}, Minutes: {delta.total_seconds() // 60}")

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Load CSV and convert column to categorical
file_path = input("Enter CSV file path: ")
column_name = input("Enter column name: ")
category_order = input("Enter category order (comma-separated): ").split(',')

df = pd.read_csv(file_path)
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Display sorted data
print(df.sort_values(column_name))

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Read CSV
file_path = input("Enter CSV file path: ")
df = pd.read_csv(file_path)

# Plot stacked bar chart
df.groupby(['Date', 'Product_Category'])['Sales'].sum().unstack().plot(kind='bar', stacked=True)
plt.title("Sales by Product Category Over Time")
plt.xlabel("Date")
plt.ylabel("Sales")
plt.legend(title="Product Category")
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [10]:
import pandas as pd

# Load the CSV file
file_path = "C:/Users/ac240/BA 2 2025/Dataset/student_data-1.csv"  # Replace with the downloaded file path
df = pd.read_csv(file_path)

# Calculate statistics
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode().tolist()

# Display results in a table
print("+-----------+--------+")
print("| Statistic | Value  |")
print("+-----------+--------+")
print(f"| Mean      | {mean:.2f} |")
print(f"| Median    | {median:.0f}   |")
print(f"| Mode      | {', '.join(map(str, mode))} |")
print("+-----------+--------+")

+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 83.50 |
| Median    | 85   |
| Mode      | 85 |
+-----------+--------+

In [11]:
import pandas as pd

# Prompt user for file path
file_path = input("Enter the file path of the CSV file: ")

# Load data
df = pd.read_csv(file_path)

# Calculate statistics
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode().tolist()

# Display results
print(f"+-----------+--------+")
print(f"| Statistic | Value  |")
print(f"+-----------+--------+")
print(f"| Mean      | {mean:.2f} |")
print(f"| Median    | {median:.0f}   |")
print(f"| Mode      | {', '.join(map(str, mode))} |")
print(f"+-----------+--------+")

Enter the file path of the CSV file:  C:/Users/ac240/BA 2 2025/Dataset/student_data-1.csv

+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 83.50 |
| Median    | 85   |
| Mode      | 85 |
+-----------+--------+