# Q1: Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

## Answer:
A Pandas Series is a one-dimensional labeled array capable of holding any data type.

## Steps:
1. Import the pandas library.
2. Create a Series using the pd.Series function and pass the given data as a list.
3. Print the Series.
## Code Example:

In [3]:
import pandas as pd

# Creating the series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2: Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable and print it.

## Answer:
We will create a list of 10 elements and convert it into a Pandas Series.

## Steps:
1. Create a list containing 10 elements.
2. Use the pd.Series() function to convert the list into a Series.
3. Print the Series.

## Code Example:

In [7]:
# Creating a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting the list into a Pandas Series
series_from_list = pd.Series(my_list)

# Printing the series
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3: Create a Pandas DataFrame that contains the following data, then print the DataFrame.

## Answer:
A Pandas DataFrame is a two-dimensional labeled data structure.

## Steps:
1. Define the data as a dictionary where keys are column names and values are lists.
2. Use the pd.DataFrame() function to create the DataFrame.
3. Print the DataFrame.

## Code Example:

In [11]:
# Defining the data
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

# Creating the DataFrame
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4: What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.

# Pandas DataFrame

A **DataFrame in pandas** is a two-dimensional, size-mutable, and heterogeneous tabular data structure. It is one of the most widely used data structures in pandas and allows for data manipulation and analysis. It can store data in rows and columns with labeled axes (rows and columns).

## Syntax for Creating a DataFrame

- import pandas as pd

- # Syntax
**df = pd.DataFrame(data, index, columns, dtype, copy)**

- data: Data to be loaded, such as lists, dictionaries, or numpy arrays.
- index: Custom row labels (optional).
- columns: Custom column labels (optional).
- dtype: Data type for elements (optional).
- copy: Whether to copy the input data (optional).

# Pandas Series
A Series in pandas is a one-dimensional labeled array that holds data of any type (e.g., integers, strings, floating-point numbers). Each element in a Series has a unique label or index.

## Syntax for Creating a Series

- import pandas as pd

# Syntax
- **series = pd.Series(data, index, dtype, copy)**
- data: Data for the Series, such as a list or dictionary.
- index: Custom labels for the data (optional).
- dtype: Data type for the Series (optional).
- copy: Whether to copy the data (optional).

# Key Differences Between DataFrame and Series

<Table>
    <tr><Th>Feature	<Th>DataFrame	<Th>Series</tr>
<tr><Td>Dimensions	<Td>Two-dimensional (rows and columns).	<Td>One-dimensional (like a list).</tr>
<tr><Td>Data Structure	<Td>Tabular structure with labeled rows & columns.	<Td>Labeled array.</tr>
<tr><Td>Heterogeneity	<Td>Can store heterogeneous data in columns.	<Td>Typically homogeneous.</tr>
<tr><Td>Indexing	<Td>Indexed by row and column labels.	<Td>Indexed by row labels only.</tr>
<tr><Td>Usage	<Td>Used for complex, tabular data manipulation.	<Td>Used for single-column or simple data.</tr>

    # Properties of DataFrame and Series
## DataFrame Properties

- **Shape:** Returns (rows, columns) of the DataFrame.
- **Index:** Row labels of the DataFrame.
- **Columns:** Column labels of the DataFrame.
- **Dtype:** Data types of columns.
- **Size:** Total number of elements (rows × columns).
Series Properties
- **Index:** Labels of the Series.
- **Dtype:** Data type of the elements.
- **Size:** Total number of elements.
- **Values:** Array containing the data.
## Examples

### Creating a Series

In [27]:
# Creating a Series
series = pd.Series([1, 2, 3, 4], index=["A", "B", "C", "D"])
print("Series:")
print(series)

Series:
A    1
B    2
C    3
D    4
dtype: int64

### Creating a DataFrame

In [30]:

# Creating a DataFrame
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Where to Use What and Why

## When to Use a Series:
Use a Series when dealing with one-dimensional data (e.g., time series, list of numbers, or a single column of data).

## Examples:
- Storing stock prices for a single day.
- Tracking daily temperatures.

## When to Use a DataFrame:
Use a DataFrame when handling tabular data with multiple variables or features.

## Examples:

- Analyzing customer data with attributes like Name, Age, Gender.
- Handling datasets with multiple columns for machine learning or data analysis.

## Key Insights

- **Complexity:** Use DataFrame for multi-dimensional data manipulation.
- **Efficiency:** Series is simpler and lightweight for single-column data.
- **Flexibility** DataFrame allows for more complex operations like grouping, merging, and aggregations.
- **Scalability:** DataFrame is more suited for datasets used in data analysis and machine learning.

## Answer in Short :

## DataFrame: A two-dimensional, mutable, tabular data structure in pandas with labeled rows and columns.
## Series: A one-dimensional labeled array.

### Key Differences:

<Table><TR> <TH>Feature	<TH>DataFrame	<TH>Series</TR>
<TR> <TD>Dimensions	<TD>Two (Rows & Columns)	<TD>One</TR>
<TR> <TD>Data Storage	<TD>Multiple Series or Arrays	<TD>Single array</TR>
<TR> <TD>Usage	<TD>Tabular data	<TD>Single column or array</TR>
</table>

## Example:

In [35]:


# Series example
series = pd.Series([1, 2, 3])
print("Series:\n", series)

Series:
 0    1
1    2
2    3
dtype: int64

In [37]:
# DataFrame example
data = {"Column1": [1, 2, 3], "Column2": [4, 5, 6]}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

DataFrame:
    Column1  Column2
0        1        4
1        2        5
2        3        6

# Q5: What are some common functions you can use to manipulate data in a Pandas DataFrame? Provide examples.

# Common Functions to Manipulate Data in a Pandas DataFrame
Pandas provides a rich set of functions for data manipulation, enabling efficient data wrangling. Here's a detailed guide with syntax, properties, examples, and use cases.

# 1. Viewing and Inspecting Data
## Functions:
- **head():** Displays the first few rows.
- **tail():** Displays the last few rows.
- **info():** Provides a summary of the DataFrame.
- **describe():** Generates descriptive statistics for numerical columns.

## Syntax:

# Viewing data

In [49]:
df.head(n=5)       # First n rows (default: 5)
df.tail(n=5)       # Last n rows
df.info()          # Summary of the DataFrame
df.describe()      # Descriptive statistics

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  3 non-null      int64
 1   Column2  3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes

       Column1  Column2
count      3.0      3.0
mean       2.0      5.0
std        1.0      1.0
min        1.0      4.0
25%        1.5      4.5
50%        2.0      5.0
75%        2.5      5.5
max        3.0      6.0

# Example:

In [51]:

import pandas as pd

data = {"Name": ["Alice", "Bob", "Claire"], "Age": [25, 30, 27], "Salary": [50000, 60000, 70000]}
df = pd.DataFrame(data)

print(df.head(2))  # View first 2 rows
print(df.info())   # DataFrame summary
print(df.describe())  # Descriptive statistics

    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
None
             Age   Salary
count   3.000000      3.0
mean   27.333333  60000.0
std     2.516611  10000.0
min    25.000000  50000.0
25%    26.000000  55000.0
50%    27.000000  60000.0
75%    28.500000  65000.0
max    30.000000  70000.0

# Where to Use:
- Inspect the structure and basic statistics of the dataset.
- Check for missing or null values.

# 2. Selecting and Indexing
## Functions:
- **loc[]:** Label-based indexing.
- **iloc[]:** Integer-based indexing.
- **[]:** Access single or multiple columns.
## Syntax:

# Selecting data
- df.loc[row_labels, column_labels]   # Select by labels
- df.iloc[row_indices, column_indices]  # Select by indices
- df['column_name']   # Access a single column
- df[['col1', 'col2']]  # Access multiple columns
# Example:

In [58]:
# Select specific rows and columns
print(df.loc[0, 'Name'])  # Get the first row's Name
print(df.iloc[1, 2])  # Get second row, third column value

Alice
60000

# Where to Use:
- Extract subsets of data for further analysis.
- Perform row-wise or column-wise operations.

# 3. Filtering and Querying

## Functions:

- **Boolean filtering:** Use conditional operators.

- **query():** Query the DataFrame with an expression.

## Syntax:

# Filtering rows
- df[df['column'] > value]   # Filter rows based on a condition
- df.query('column > value')  # Query using an expression

#Example:

In [63]:
# Filter employees with Salary > 55000
filtered_df = df[df['Salary'] > 55000]
print(filtered_df)

# Using query
filtered_df = df.query('Salary > 55000')
print(filtered_df)

     Name  Age  Salary
1     Bob   30   60000
2  Claire   27   70000
     Name  Age  Salary
1     Bob   30   60000
2  Claire   27   70000

# Where to Use:
- Extract data subsets based on conditions.
- Perform exploratory data analysis.

# 4. Adding, Updating, and Deleting Columns
## Functions:
- **Add: Directly assign values to a new column.
- **Update: Modify column values.
- **Delete: Use drop() or del.

## Syntax:

# Adding columns
- df['new_col'] = value

# Updating values
- df['col'] = df['col'].apply(func)

# Deleting columns
- df.drop('col', axis=1, inplace=True)  # Drop column
- del df['col']  # Alternative
# Example:

In [70]:
# Adding a column
df['Bonus'] = df['Salary'] * 0.1

# Deleting a column
df.drop('Bonus', axis=1, inplace=True)
print(df)

     Name  Age  Salary
0   Alice   25   50000
1     Bob   30   60000
2  Claire   27   70000

# Where to Use:
- Add derived metrics to the dataset.
- Remove redundant columns.

# 5. Grouping and Aggregations

## Functions:
- **groupby():** Group rows by a column.
- **Aggregations:** sum(), mean(), count(), etc.

# Syntax:

# Grouping and aggregation
- df.groupby('column').agg({'col1': 'sum', 'col2': 'mean'})

## Example:

In [74]:


# Group by Age and calculate average Salary
grouped = df.groupby('Age')['Salary'].mean()
print(grouped)

Age
25    50000.0
27    70000.0
30    60000.0
Name: Salary, dtype: float64

# Where to Use:
- Summarize data based on categories.
- Perform statistical operations on grouped data.
# 6. Merging, Joining, and Concatenating
# Functions:
- **merge():** Merge two DataFrames based on a key.
- **join():** Join DataFrames on index or keys.
- **concat():** Concatenate along rows or columns.
# Syntax:

# Merging
- pd.merge(df1, df2, on='key')

# Concatenating
- pd.concat([df1, df2], axis=0)  # Vertical
- pd.concat([df1, df2], axis=1)  # Horizontal
# Example:

In [79]:
# DataFrames to merge
data1 = {"ID": [1, 2], "Name": ["Alice", "Bob"]}
data2 = {"ID": [1, 2], "Salary": [50000, 60000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge on ID
merged_df = pd.merge(df1, df2, on="ID")
print(merged_df)

   ID   Name  Salary
0   1  Alice   50000
1   2    Bob   60000

# Where to Use:
- Combine datasets with common keys or indices.
- Aggregate data from multiple sources.
- 3 7. Handling Missing Data
## Functions:
- **isnull():** Identify missing values.
- **fillna():** Replace missing values.
- **dropna():** Remove rows/columns with missing data.
## Syntax:


# Handling missing data
- **df.isnull()**
- **df.fillna(value, inplace=True)**
- **df.dropna(axis=0, inplace=True)**  # Drop rows with NaN
# Example:

In [87]:


# Handling missing data
df.loc[1, 'Salary'] = None  # Introduce missing data
df['Salary'].fillna(0, inplace=True)  # Fill missing data with 0
print(df)

     Name  Age   Salary
0   Alice   25  50000.0
1     Bob   30      0.0
2  Claire   27  70000.0

C:\Users\Arpana-\AppData\Local\Temp\ipykernel_12240\615332178.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(0, inplace=True)  # Fill missing data with 0

# Where to Use:

- Handle missing or incomplete datasets before analysis.
- Improve data quality.

## Key Insights

- **Flexibility:** Functions like groupby(), merge(), and concat() allow you to manipulate complex datasets.
- **Efficiency:** Functions such as fillna() and query() handle large datasets efficiently.
- **Choice:** Use filtering (df[]) for quick selections and groupby() for aggregations.

Choosing the right function depends on your data manipulation goals. With these tools, you can perform advanced data cleaning, exploration, and preparation efficiently.

# In Short- Here are some common functions:

- **head():** View the first few rows.
- **tail():** View the last few rows.
- **describe():** Summarize statistics.
- **sort_values():** Sort by a column.
- **groupby():** Group data and apply functions.
- **drop():** Remove rows/columns.
# Example: Sorting Data:

In [91]:
# DataFrame
data = {"Name": ["Alice", "Bob", "Claire"], "Age": [25, 30, 27]}
df = pd.DataFrame(data)

# Sorting by Age
sorted_df = df.sort_values(by="Age", ascending=False)
print(sorted_df)

     Name  Age
1     Bob   30
2  Claire   27
0   Alice   25

# Q6: Which of the following is mutable in nature: Series, DataFrame, Panel?

# In Short 
- **Mutable:** Both Series and DataFrame are mutable in nature.
- **Panel:** Deprecated, but it was also mutable.

In pandas, both Series and DataFrame are mutable in nature, while the Panel object is deprecated as of pandas 1.0.0 and is no longer used.

Let’s explore each structure in detail, including their syntax, properties, examples, and use cases.

# 1. Series
## Definition:
A Series is a one-dimensional labeled array that can hold data of any type (e.g., integers, strings, floating-point numbers). It is mutable, meaning its contents can be changed after creation.

# Syntax:

- **import pandas as pd**

# Creating a Series
- **series = pd.Series(data, index, dtype, copy)**
- **data:** Data for the Series (list, dictionary, array, scalar value).
- **index:** Custom labels (optional).
- **dtype:** Data type of the elements (optional).

# Properties:
- **Index:** Labels for the elements.
- **Values:** Array of the data elements.
- **Dtype:** Data type of the Series.
- **Mutable:** Contents can be changed.

# Example:

In [ ]:
# Creating a Series
series = pd.Series([1, 2, 3, 4], index=["A", "B", "C", "D"])

# Modifying a value
series["A"] = 10
print(series)

# Where to Use:

Ideal for handling one-dimensional data like time series or single-column data.

# Example: Tracking sales numbers over time.
# 2. DataFrame
# Definition:

A DataFrame is a two-dimensional, mutable, tabular data structure with labeled rows and columns. It is one of the most commonly used data structures in pandas.

# Syntax:


- import pandas as pd

# Creating a DataFrame
- **df = pd.DataFrame(data, index, columns, dtype, copy)**
- **data: Data (dictionary, list of lists, arrays, etc.).**
- **index: Custom row labels (optional).**
- **columns: Custom column labels (optional).**

# Properties:

- **Shape: Dimensions of the DataFrame (rows, columns).**
- **Index:** Labels for rows.
- **Columns:** Labels for columns.
- **Mutable:** Both data and structure (rows/columns) can be modified.
# Example:

In [101]:
# Creating a DataFrame
data = {"Name": ["Alice", "Bob"], "Age": [25, 30]}
df = pd.DataFrame(data)

# Modifying a value
df.loc[0, "Age"] = 26
print(df)

    Name  Age
0  Alice   26
1    Bob   30

# Where to Use:
- Use for structured, tabular data analysis.

## Example: Storing and analyzing customer data.

# 3. Panel (Deprecated)

**Definition:**
A Panel was a three-dimensional data structure used in earlier versions of pandas for handling data with three axes. As of pandas 1.0.0, it is deprecated in favor of MultiIndex DataFrames.

# Syntax (Deprecated):

- **import pandas as pd**

# Creating a Panel (deprecated)
- **panel = pd.Panel(data)**
# Properties:
- **Axes:** Items (axis 0), Major_axis (axis 1), and Minor_axis (axis 2).
- **Mutable:** Data could be modified.
# Example:
Panels are no longer recommended. Use MultiIndex DataFrames instead:

In [105]:

# MultiIndex DataFrame (alternative to Panel)
data = {
    ("Item1", "A"): [1, 2, 3],
    ("Item1", "B"): [4, 5, 6],
    ("Item2", "A"): [7, 8, 9],
}
df = pd.DataFrame(data)
print(df)

  Item1    Item2
      A  B     A
0     1  4     7
1     2  5     8
2     3  6     9

# Key Differences Between Series, DataFrame, and Panel
<table><tr><TH>Feature	<th>Series	<th>DataFrame	<th>Panel (Deprecated)</TH></tr>
<tr><TH>Dimensions	<th>One-dimensional	<th>Two-dimensional	<th>Three-dimensional
<tr><TH>Labels	<th>Row labels only	<th>Row and column labels	<th>Items, major, and minor axes
<tr><TH>Mutability	<th>Mutable	<th>Mutable	<th>Mutable
<tr><TH>Use Case	<th>Single-column data	<th>Tabular data	<th>Deprecated; use MultiIndex DF</th>table>

    # Where to Use and Why

# Series:
- When working with one-dimensional data.
- Lightweight and efficient for small tasks.

# Example: Tracking monthly rainfall.

# DataFrame:
- For multi-dimensional, tabular data manipulation.
- Supports complex operations like grouping, merging, and aggregating.

# Example: Managing a dataset with multiple variables like sales, profit, and region.

# Panel (Replaced):
- Use MultiIndex DataFrames instead.
# Example: Handling multi-dimensional data in financial or scientific domains.

## Key Insights

### Mutability:

- Series and DataFrame are both mutable, making them flexible for real-world data analysis.
- Changes to data, labels, or structure can be made without recreating the object.

### Deprecation:

- Panel is no longer in use. Migrating to MultiIndex DataFrames provides more functionality and ease of use.

## Choosing the Structure:

- For simple tasks, prefer Series.
- For structured, relational data, use DataFrame.
- For higher dimensions, use MultiIndex DataFrames.

By understanding the differences and use cases, you can effectively utilize pandas structures for any data analysis task.

# Q7: Create a DataFrame using multiple Series. Explain with an example.

# Answer:
We can create a DataFrame by combining multiple Series.

# Steps:
- Create individual Series for each column.
- Combine them using the pd.DataFrame() function.
  
## Code Example:

In [95]:
# Creating Series
name = pd.Series(["Alice", "Bob", "Claire"])
age = pd.Series([25, 30, 27])
gender = pd.Series(["Female", "Male", "Female"])

# Creating DataFrame
df = pd.DataFrame({"Name": name, "Age": age, "Gender": gender})

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# What is a DataFrame?
A DataFrame in pandas is a two-dimensional, mutable data structure that consists of rows and columns. It is built using Series, which represent the individual columns.

- Creating a DataFrame using multiple Series allows you to combine one-dimensional labeled data into a tabular format.

# Syntax for Creating a DataFrame

- import pandas as pd

# Creating a DataFrame
-df = pd.DataFrame({
-    "column_name1": series1,
-    "column_name2": series2,
-    ...
- })

# Properties of a DataFrame

- **Size:** Returns the total number of elements (rows × columns).
- **Shape:** Provides dimensions as (rows, columns).
- **Index:** Labels for rows.
- **Columns:** Labels for columns.
- **Dtype:** Data types of individual columns.
- **Mutable:** Data and structure (rows/columns) can be modified.

# Steps to Create a DataFrame Using Multiple Series

- Import the pandas library.
- Create individual Series for each column of the DataFrame.
- Combine the Series into a DataFrame using the pd.DataFrame() method.
- Optionally, provide custom row indices.

# Example: Creating a DataFrame Using Multiple Series

In [109]:

import pandas as pd

# Creating individual Series
names = pd.Series(["Alice", "Bob", "Claire"])
ages = pd.Series([25, 30, 27])
genders = pd.Series(["Female", "Male", "Female"])

# Combining Series into a DataFrame
df = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "Gender": genders
})

# Displaying the DataFrame
print("DataFrame:")
print(df)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


# Key Differences Between Series and DataFrame
<table><tr><th>Feature	<th>Series	<th>DataFrame</th></tr>
<tr><td>Dimensions	<td>One-dimensional	<td>Two-dimensional</tr>
<tr><td>Data Type	<td>Homogeneous	<td>Heterogeneous</tr>
<tr><td>Data Structure	<td>Single labeled column	<td>Tabular format</tr>
<tr><td>Indexing	<td>Single index	<td>Row and column indices</tr></table>table>

# Example Use Case	Single variable or feature	Multi-variable datasets

## Properties of the Created DataFrame

## Columns:

- **Name:** Contains string data (object dtype).
- **Age:** Contains integer data (int64 dtype).
- **Gender:** Contains string data (object dtype).

# Index:

Default index (0, 1, 2) is used.

# Size:

- Total elements: 3
 
- rows × 3
 
- columns = 9
- 3 rows × 3 columns = 9.
- Shape: (3 ,3)

- (3,3) representing 3 rows and 3 columns.

# When to Use Series vs DataFrame

## Use Series When:

You need to work with a single variable or attribute.

# Example: Tracking monthly sales numbers.

# Use DataFrame When:

You need to work with multiple variables in a tabular structure.

# Example: Managing customer data with attributes like Name, Age, and Gender.

# Where and Why to Use a DataFrame

## Use Cases:

- **Data Cleaning:**

Handle missing values or inconsistent data across columns.

- **Data Analysis:**

Perform operations like grouping, aggregations, and filtering.

- **Data Visualization:**

Serve as input for plotting libraries.

# Why Use a DataFrame?

- **Flexibility:** Supports multiple data types in columns.
- **Scalability:** Works efficiently with large datasets.
- **Intuitiveness:** Allows for complex operations with simple syntax.

# Advanced Example with Custom Index

In [114]:
# Creating Series with custom indices
names = pd.Series(["Alice", "Bob", "Claire"], index=["A", "B", "C"])
ages = pd.Series([25, 30, 27], index=["A", "B", "C"])
genders = pd.Series(["Female", "Male", "Female"], index=["A", "B", "C"])

In [116]:
# Creating DataFrame
df = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "Gender": genders
})

# Displaying the DataFrame
print("DataFrame with Custom Index:")
print(df)

DataFrame with Custom Index:
     Name  Age  Gender
A   Alice   25  Female
B     Bob   30    Male
C  Claire   27  Female

# Key Insights

- **Combination of Series:** DataFrames are formed by combining multiple Series, where each Series represents a column.
- **Mutability:** Both the data and structure of a DataFrame can be modified.
- **Preferred Data Structure:** Use a DataFrame for multi-dimensional data analysis and visualization.

By understanding these principles, you can effectively use DataFrames for various data manipulation and analysis tasks in pandas.